@model Biografia.Models.Educacao

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que pretende eliminar?</h3>
<div>
    <h4>Educação e Formação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escolas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escolas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EducacaoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à página principal</a>
    </form>
</div>
